{% extends "base.html" %}

{% block content %}

<body>
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	<div class="container">
	<form action="add_sorties" method="post">
		{% csrf_token %}
		<div class="row">
			<input id="date" name="date" min="2016-02-16" max="2020-01-01" type="date">
		</div>
		<div id='sorties' class="row">
		</div>
		<div id = 'add' class="row">
			<input type="button" class="button" value="" onClick="addSortie()">
		<div>
		<div id = "footer" class="row" style= "position:bottom">
        	<input id = 'submit' type="submit" value="SUBMIT">
        </div>
	</form>
	<div>
</body>

<script>

	var sortie_counter = 1;
	var FLIGHT_OPTIONS = ["night", "recon", "shoham",];
	var GROUND_OPTIONS = ["sim","sim_winter","malam","yarpa",];
	addSortie();
	
	function createCheckboxElement(name, text, checked , hidden = false) {
		var label = document.createElement('LABEL');
		label.setAttribute("class","btn btn-warning");
		label.setAttribute("for",name);
		var checkBox = document.createElement('INPUT');
		checkBox.setAttribute('type','checkbox');
		checkBox.setAttribute('name',name);
		checkBox.setAttribute('id',name);
		checkBox.setAttribute('display','none');
		checkBox.setAttribute('autocomplete',"off");
		if(checked){
			checkBox.checked = true;
		}
		if(hidden){
			label.setAttribute('style','display:none;')
		}
		label.textContent = text;
		label.appendChild(checkBox);
		return label;
	}

	function createOptions(options,j){
		var outputDiv = document.createElement('DIV');
		var rowDiv = document.createElement('DIV');
		var btnDiv = document.createElement('DIV');
		var legend = document.createElement('h1');
		outputDiv.id = 'sortie'+j;
		rowDiv.setAttribute('class','row');
		rowDiv.appendChild(legend)
		rowDiv.appendChild(createCheckboxElement("mission"+j,'', true , true));
		btnDiv.id = 'sortieBtn'+ j
		btnDiv.setAttribute('class','btn-group');
		btnDiv.setAttribute('data-toggle','buttons');
		legend.textContent = 'Sortie' + j;
		var i;
		for(i = 0 ; i < options.length ; i++){
			console.log(options[i])
			btnDiv.appendChild(createCheckboxElement("mission"+j+options[i],options[i], false));
		}
		rowDiv.appendChild(btnDiv);

		var toggleDiv = document.createElement('DIV');
		toggleDiv.setAttribute('class','row');
		var toggleBtn = document.createElement('BUTTON')
		toggleBtn.setAttribute('class','btn btn-warning');
		toggleBtn.textContent = 'Switch to Air Activity';
		toggleBtn.name = 'toggleAir'
		if (options == FLIGHT_OPTIONS){
			toggleBtn.textContent = 'Switch to Ground Activity';
			toggleBtn.name = 'toggleGnd'
		}
		toggleBtn.setAttribute('onClick','ToggleGndAir(this,'+j+')')
		toggleDiv.appendChild(toggleBtn)
		outputDiv.appendChild(rowDiv);
		outputDiv.appendChild(toggleDiv);
		return outputDiv;
    }
    
    function addSortie(){
	  var options = createOptions(FLIGHT_OPTIONS,sortie_counter);
	  var toggle = createOptions(["switch to ground activity"],sortie_counter);
	  var sorteisDiv = document.getElementById('sorties');
	  sorteisDiv.appendChild(options);
	  sortie_counter++;
     }
     
     function ToggleGndAir(el,j){
     	var oldSortie = document.getElementById('sortie'+j);
     	if (el.name == 'toggleGnd'){
     		newSortie = createOptions(GROUND_OPTIONS,j)
     	}
     	else{
     		newSortie = createOptions(FLIGHT_OPTIONS,j)
     	}
     	parent = oldSortie.parentNode;
     	parent.appendChild(newSortie);
     	parent.replaceChild(newSortie,oldSortie);
     }
</script>

{% endblock %}
