{% extends "FlightLog/base.html" %}

{% block content %}

{% load static %}

<body>
	<div class="container">
	<div class="row" id=settings style="text-align:right;">
		<a href="/FlightLog/settings">
		<img src="{% static "gear.png" %}" height="25" width="25">
		</a>
	</div>
	<div class = "row" id=report>
		<a href="/FlightLog/history.html">
		<div style="margin:5px">
			<fieldset>
				<legend><img src="{% static "plane.png" %}" height="40" width="40"></legend>
				<div id="goalBar">
					<div id = label></div>
					<div id = "totalCompleted" class = "completedBar"></div>
					<table style="width:100%; table-layout: fixed; position: absolute; color: black;">
						<td style="text-align:left">בוצע: {{total_done}}</td>
						<td style="text-align:center">פוטנציאל: {{total_potential}}</td>
						<td style="text-align:right">יעד: {{total_goal}}</td>
					</table>
				</div>
			</fieldset>
		</div>
		</a>
		<div class = "row" style="margin:5px">
			<fieldset>
				<legend><img src="{% static "moon.png" %}" height="40" width="40"></legend>
				<div id="goalBar">
					<div id = label></div>
					<div id = "nightCompleted" class = "completedBar"></div>
					<table style="width:100%; table-layout: fixed; position: absolute; color: black;">
						<td style="text-align:left">בוצע: {{night_done}}</td>
						<td style="text-align:center">פוטנציאל: {{night_potential}}</td>
						<td style="text-align:right">יעד: {{night_goal}}</td>
				</table>
				</div>
			</fieldset>
		</div>
		<div class = "row" style="margin:5px">
			<fieldset>
				<legend><img src="{% static "joystick.png" %}" height="40" width="40"></legend>
				<div id="goalBar">
					<div id = label style = "color: black ; text-align: right; position: absolute; right: 0px;">
						<table cellspacing=0 style="width:100%; height:30px; text-align: center; table-layout: fixed; font-size:18px;">
							{% autoescape off %}
							{{gnd_activity_table}}
							{% endautoescape %}
						</table>
					</div>
				</div>
			</fieldset>
		</div>
		<a href="/FlightLog/calendar.html?date={% now "Y-m-d" %}">
			<div class = "row" style="margin:5px">
				<fieldset>
				<legend><img src="{% static "calendar.png" %}" height="40" width="40"></legend>
					<div id="goalBar">
						<div id = label style = "color: black ; text-align: right; position: absolute; right: 0px;"></div>
						<div id = "piriodCompleted" class = "completedBar"></div>
					</div>
				</fieldset>
			</div>
		</a>
	</div>
	<div>
		<input id="addSortie" type="button" class="button" value="" onClick="location.href='/FlightLog/add_sorties.html'";"">
	</div>
	</div>
</body>

<script>
	function statusBar(mission,goal,done){
    var elem = document.getElementById(mission); 
    var width = 0;
    width = (done/goal)*100;
    width = Math.min(width, 100);
    elem.style.width = width+'%';
    }
    
    statusBar("totalCompleted",{{total_goal}},{{total_done}})
    statusBar("nightCompleted",{{night_goal}},{{night_done}})
    statusBar("piriodCompleted",{{piriod_l}},{{piriod_elapsed}})
</script>

{% endblock %}


