{% extends "FlightLog/base.html" %}

{% load staticfiles %}

{% block content %}


<body>

<div class="container text-center">
    <h2><img src="{%  static 'fav.png' %}" alt="logo" height="100"></h2>
    <div style="text-align:center; direction:rtl">
        <form method="POST">
            <br>
            {% csrf_token %}
            <table align="center">
            <tbody>
                <tr>
                <th><label>שם משתמש: &nbsp  </label></th>
                <td><input type="text" name="username" style="color:black"></td>
            </tr><tr>
                <th><label>סיסמה: &nbsp</label></th>
                <td><input type="password" name="password" style="color:black"></td>
            </tr>
            </tbody>
            </table>
            <br>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>
</body>

{% endblock %}