{% extends "base.html" %}

{% block content %}

<body style="background:black; color:white;">
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	<form action="settings" method="post" style="text-align:center;">
		{% csrf_token %}
		שינוי יעדים תקופתיים
		<br>
		כללי
		<input id="goals_total" name="total" type="number">
		<br>
		לילה
		<input id="goals_night" name="night" type="number">
		<br>
		<br>
		סימולטור
		<input id="sim" name="gnd_sim" type="number">
		<br>
		מלאמ
		<input id="malam" name="gnd_malam" type="number">
		<br>
        <input type="submit" value="CHANGE SETTINGS"">
	</form>
</body>

{% endblock %}