html, body{
	margin: 0;
	padding: 2;
	text-align: center;
	background: black;
	color: white;}


a{
	color: white;
}

a:visited{
	color: white;
}

#goalBar {
  position: relative;
  width: 100%;
  height: 30px;
  background-color: #ddd;
  font-size: x-large;
}

.completedBar {
  position: absolute;
  opacity: 0.7;
  width: 0%;
  height: 100%;
  background-color: orange;
  color: black;
}

#label{
	line-height: 30px;
	text-align: left;
}
    
    
#calendar table {
	width: 100%;
	height: 90%;
	text-align: center;
	border: 0.5px solid black;
}

#calendar td{
	border: 0.5px solid white;
}

#calendar td.done {
	background-color: orange;
}

#calendar td.today {
	background-color: lightblue;
}

#calendar td.planned {
	background-color: yellow;
}