<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/FlightLog.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" href="{%  static 'fav.ico' %}">
  <link rel="apple-touch-icon" href="{%  static 'fav.png' %}">
  <title>יעדי גיחות</title>
</head>

<style>
body{
  background-color: black;
}

legend {
    width:inherit;
    border:none;
    margin: 0;
}

fieldset{
  border:1px groove;
  padding:4px;
}

.button {
	margin: 5px;
    background-color: orange;
    {% load static %}
    background-image:url("{% static "plus.png" %}"); 
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    }

</style>

{% block content %}{% endblock %}

</html>